---
import BaseLayout from "../../layouts/base.astro"
import { getArticles, getLatestArticles } from "../../data/get-article"
import { marked } from "marked"
import FormattedDate from "../../components/FormattedDate.astro"
import { author } from "../../consts"
import { readingTime } from "../../utils/calc"
import ArticlesGrid from "../../components/sections/articles-grid.astro"

export const prerender = true

export async function getStaticPaths() {
	const articles = await getArticles()

	return articles.documents.map((article) => ({
		params: { slug: article.slug },
		props: article,
	}))
}

const article = Astro.props

const content = marked.parse(article.content)

const latestArticles = await getLatestArticles()
---

<BaseLayout title={article.title} description={article.excerpt} image={article.image}>
	{
		article.image && (
			<figure class="max-w-7xl mx-auto">
				<img
					src={article.image + "?w=900"}
					alt={article.title}
					width="1080"
					height="720"
					class="w-full rounded-2xl aspect-video max-h-[80vh] object-cover"
					transition:name="image"
				/>
			</figure>
		)
	}

	<article
		class="mx-auto prose lg:prose-lg max-w-4xl my-12 dark:prose-invert bg-background/50 backdrop-blur md:-mt-56 p-4 md:p-6 rounded-xl"
	>
		<div class="">
			<h1 class="text-black dark:text-white !my-2">{article.title}</h1>

			<div class="flex items-center justify-between">
				<div class="flex items-center">
					<img src={author.image} alt={author.name} class={`rounded-full !my-0 mr-3 h-10 w-10`} />
					<div class="!my-0 flex flex-col justify-center">
						<span class="font-semibold !my-0">{author.name}</span>
						<span class="text-xs text-gray-500 !my-0">
							<FormattedDate date={article.$updatedAt} /> • {readingTime(article.content)} minutes</span
						>
					</div>
				</div>
				<div class=""></div>
			</div>
		</div>

		<div set:html={content} />
	</article>

	<div class="mt-32">
		<ArticlesGrid articles={latestArticles.documents.slice(0, 4)} title="You may also like" />
	</div>
</BaseLayout>
